<nav class="navbar">
  <div class="navbar-navigation">

    <a routerLink="/" routerLinkActive="router-link-active">Inicio</a>
    <a  href="/ropa">Ropa</a>
    <a href="/accesorios">Accesorios</a>
  </div>
  <div class="navbar-img">
    <img src="../../../../assets/principal_Logo.png" alt="">
  </div>
  <div class="navbar-profile">
    <div class="navbar-profile-search">
      <div class="navbar-profile-icon">
        <i class="fas fa-search"></i>
      </div>
      <div class="navbar-profile-input">
        <input type="text" placeholder="Buscar">
      </div>
    </div>
    <div class="circle">
      <i class="fas fa-shopping-bag"></i>
      <div class="notification">12</div>
    </div>
    <img class="navbar-profie-img" src="https://picsum.photos/200/300?random=3" alt="">
  </div>
</nav>
