<nav class="navbar " style="position: absolute;">
  <div class="navbar-navigation">
    <a routerLink="/" routerLinkActive="router-link-active">Inicio</a>
    <a  routerLink="/ropa">Ropa</a>
    <a routerLink="/accesorios">Accesorios</a>
  </div>
  <div class="navbar-img">
    <img src="../../../../assets/principal_Logo.png" alt="">
  </div>
  <!-- <p> {{auth.userName}} </p> -->

  <div class="navbar-profile" >
    <div class="navbar-profile-search">
      <div class="navbar-profile-icon">
        <i class="fas fa-search"></i>
      </div>

      <div class="navbar-profile-input">
        <input type="text" placeholder="Buscar">
      </div>
    </div>

    <div class="circle">
      <i class="fas fa-shopping-bag"></i>
      <div class="notification">12</div>
    </div>

    <img class="navbar-profie-img" routerLink="/login" src="https://picsum.photos/200/300?random=3" alt="">
    <!-- <button *ngIf="isLogged" (click)="logout()">Logout</button> -->
    <div class="usuario" *ngIf="(isLogged && auth.email)">
    <div class="dropdown">
      <button class="dropbtn">


        <p> {{auth.email}} </p></button>

      <div class="dropdown-content">
        <a class="dropdown-content--button" *ngIf="isLogged" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>

  </div>

</nav>

