<h2 class="titulo">Carrito de compra</h2>
<div class="container">
    <div class="row"  *ngIf="!loader && allProducts">
        <table class="tab">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="txt-izquierda">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of allProducts">
                    <th>
                        <img class="img-producto" src="{{ product.img }}" alt="">
                    </th>
                    <div class="uniontxt">
                        <td>
                            <p>{{ product.name }}</p><a class="boton-eliminar">Borrar
                    </a></td>
                    </div>
                    <td class="txt-center"><a class="btn-sumres" href=""> - </a>{{ product.count }}
                        <a class="btn-sumres" href=""> + </a>
                    </td>
                    <td class="txt-center">${{ product.price }}</td>
                    <td class="txt-center">${{ product.price * product.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="loader">Cargando...</div>
</div>
<h5 class="txt-resumen">Resumen del pedido</h5>
<div class="txt">
    <h6>Subtotal:</h6>
    <h6 class="colortxt"> $300.00</h6>

<div #paypal>
 <!-- <div class="button-center">
    <button  type="button" class="btn btn-warning">Buy wit <img class="imgPaypal"src="../../../assets/paypal.png" alt=""></button>
    </div> -->
  </div>
</div>
