.titulo {
    text-align: center;
    color: #1d576b;
    padding-top: 10vw;
    padding-bottom: 3vw;
}

.txt-resumen {
    color: #1d576b;
    font-weight: 500;
    text-align: center;
    padding-top: 5vw;
}

.txt {
    text-align: center;
}

.img {
    width: 70px;
}

h6 {
    display: inline;
    font-weight: 500;
}

.colortxt {
    color: #07ad8b;
}

.button-center {
    align-content: center;
    text-align: center;
    align-items: center;
}

.boton-eliminar {
    color: red;
    font-weight: 500;
    text-decoration: transparent;
}

td {
    color: #07ad8b;
    font-weight: 500;
    border-bottom: 1px solid white;
    vertical-align: middle;
}

.txt-center {
    text-align: center;
}

th {
    text-align: center;
}

.txt-izquierda {
    text-align: justify;
}

.btn-sumres {
    color: rgb(199, 199, 199);
    text-decoration: transparent;
    margin-left: 3px;
    margin-right: 3px;
}

.img-producto {
    width: 15vw;
    align-items: "center";
    text-align: center;
}

.container {
    padding-left: 10vw;
    margin-left: 0px;
}

.imgPaypal {
    width: 60px;
}

.uniontxt {
    display: block;
    margin-top: 8.5vw;
}