<h2 class="titulo">Carrito de compra</h2>
<div class="container">
    <div class="row">
        <table class="tab">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" class="txt-izquierda">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <img class="img-producto" src="../../../assets/ropa/chinasueterazul.jpg" alt="">
                    </th>
                    <div class="uniontxt">
                        <td>
                            <p>Camisa blanca UTT</p><a href="" class="boton-eliminar">Borrar
                    </a></td>
                    </div>
                    <td class="txt-center"><a class="btn-sumres" href=""> - </a>2
                        <a class="btn-sumres" href=""> + </a>
                    </td>
                    <td class="txt-center">$180.00</td>
                    <td class="txt-center">$360.00</td>
                </tr>
                <tr>
                    <th>
                        <img class="img-producto" src="../../../assets/ropa/chinasueterazul.jpg" alt="">
                    </th>
                    <div class="uniontxt">
                        <td>
                            <p>Camisa blanca UTT</p><a href="" class="boton-eliminar">Borrar
                    </a></td>
                    </div>
                    <td class="txt-center"><a class="btn-sumres" href=""> - </a>2
                        <a class="btn-sumres" href=""> + </a>
                    </td>
                    <td class="txt-center">$180.00</td>
                    <td class="txt-center">$360.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h5 class="txt-resumen">Resumen del pedido</h5>
<div class="txt">
    <h6>Subtotal:</h6>
    <h6 class="colortxt"> $300.00</h6>

<div #paypal>
 <!-- <div class="button-center">
    <button  type="button" class="btn btn-warning">Buy wit <img class="imgPaypal"src="../../../assets/paypal.png" alt=""></button>
    </div> -->
  </div>
</div>
