.titulo {
    text-align: center;
    color: #1d576b;
    padding-top: 10vw;
    padding-bottom: 3vw;
}

.txt-resumen {
    color: #1d576b;
    font-weight: 500;
    text-align: center;
    padding-top: 5vw;
}

.txt {
    text-align: center;
}

.img {
    width: 70px;
}

h6 {
    display: inline;
    font-weight: 500;
}

.colortxt {
    color: #07ad8b;
}

#paypal {
    align-content: center;
    text-align: center;
    align-items: center;
}

.boton-eliminar {
    color: red;
    font-weight: 500;
    text-decoration: transparent;
    cursor: pointer;
}

td {
    color: #07ad8b;
    font-weight: 500;
    border-bottom: 1px solid white;
    vertical-align: middle;
}

.txt-center {
    text-align: center;
    max-width: 2px;
    min-width: 1px;
}

th {
    text-align: center;
}

.txt-izquierda {
    text-align: justify;
}

.btn-sumres {
    color: rgb(199, 199, 199);
    text-decoration: transparent;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
}

.img-producto {
    width: 12vw;
    align-items: "center";
    text-align: center;
}

.container {
    padding-left: 10vw;
    margin-left: 0px;
}

.imgPaypal {
    width: 60px;
}

.union {
    padding-top: 3vw;
}

.imagen {
    padding: 0
}