<div class="sidebar-container">
    <div class="sidebar-logo">
        <img class="tigreShopLogo" src="../../../assets/principal_Logo2.png" alt="Logo Tigre Shop">
    </div>
    <div class="sidebar-menu">
        <ul>
            <li><a routerLink="/admin" class="sidebar-home">Inicio</a></li>
            <li><a routerLink="/admin/ropa" class="sidebar-ropa">Productos</a></li>
            <!-- <li><a routerLink="/admin/accesorios" class="sidebar-accessorios">Accesorios</a></li> -->
            <li><a routerLink="/admin/orders" class="sidebar-accessorios">Pedidos</a></li>
        </ul>

    </div>
    <div class="sidebar-salir"><a routerLink="">Salir</a></div>
</div>
