<body>

  <div class="container">
    <div class="row align-items-start " >
      <div class="col-md-6">
        <h3> Lorem ipsum dolor</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur eligendi eum laboriosam
          alias deleniti! Repellat quidem mollitia, incidunt consectetur quia non nostrum cupiditate
          sapiente ad et fugiat libero temporibus laboriosam.
        </p>
        <button class="btn btn-primary">Ver más</button>
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6>Sudadera negra </h6>
      </div>
      <div class="col-md-4">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6>Camisa blanca </h6>
      </div>
      <div class="col-md-4">
        <h3> ropa</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur eligendi eum laboriosam
          alias deleniti! Repellat quidem mollitia, incidunt consectetur quia non nostrum cupiditate
          sapiente ad et fugiat libero temporibus laboriosam.
        </p>
        <button type="button" class="btn btn-link">Ver más</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
        <h5 class="img-title"></h5>
      </div>
      <div class="col-md-4">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
      </div>
      <div class="col-md-4">
        <img src="https://picsum.photos/200/300?random=2" class="img-fluid" alt="..." max-width="rounded float-end">
      </div>
    </div>
  </div>



</body>
