<body >
  <div class="container" style=" height: 500px;" >
    <div class="row ">
      <div class="col-md-6 text" style=" margin-top: 200px;">
        <h3 > LOREM IPSUM DOLOR SIT</h3><br>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur eligendi eum laboriosam
          alias deleniti! Repellat quidem mollitia, incidunt consectetur quia non nostrum cupiditate
          sapiente ad et fugiat libero temporibus laboriosam.
        </p>
          <button class="vermas">Ver más </button>
      </div>
      <div class="col-md-6 " style=" position: absolute; right: 0px; height: 480px; width: 600px; overflow: hidden;opacity:0.6; filter:alpha(opacity=40) ">
        <img src="./assets/ropa/pantalonnegro.jpg" class="img-fluid" alt="..." max-width="rounded float-end"  >
      </div>
    </div>
  </div><br><br><br>

  <div class="clothes " >
    <div class="row mt-4">
      <div class="col-md-4 mb-4 mb-md-0" >
        <img src="./assets/ropa/sudaderanegra.png" class="img-fluid" alt="..." max-width="rounded float-end" style="width: 400px; height: 400px;  overflow: hidden; ">
        <h6 >Sudadera negra </h6>
        <h5 >$200.00</h5>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <img src="./assets/ropa/china.jpg" class="img-fluid" alt="..." max-width="rounded float-end" style="width: 400px; height: 400px;  overflow: hidden; ">
        <h6 >Sudadera negra </h6>
        <h5 >$200.00</h5>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 " style="margin-top: 100px;" >
        <h3> ropa</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur eligendi eum laboriosam
          alias deleniti! Repellat quidem mollitia, incidunt consectetur quia non nostrum cupiditate
          sapiente ad et fugiat libero temporibus laboriosam.
        </p>
        <button type="button" class="btn btn-link" >Ver más <i class="fas fa-arrow-right"> </i></button>
      </div>
    </div>
    <div class="row mt4">
      <div class="col-md-4 mb-4 mb-md-0 ">
        <img src="./assets/ropa/jordan.jpg" class="img-fluid" alt="..." max-width="rounded float-end" style="width: 400px; height: 400px;  overflow: hidden; ">
        <h6 >Sudadera negra </h6>
        <h5 >$200.00</h5>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 ">
        <img src="./assets/ropa/king.jpg" class="img-fluid" alt="..." max-width="rounded float-end" style="width: 400px; height: 400px;  overflow: hidden; ">
        <h6 >Sudadera negra </h6>
        <h5 >$200.00</h5>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 ">
        <img src="./assets/ropa/playeranegra.jpg" class="img-fluid" alt="..." max-width="rounded float-end" style="width: 400px; height: 400px;  overflow: hidden; ">
        <h6 >Sudadera negra </h6>
        <h5 >$200.00</h5>
      </div>
    </div>
  </div><br><br>
  <div class="accesories">
    <h4 >Accesorios</h4><br><br>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/libreta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 >Sudadera negra </h6>
            <h5 >$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/usb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 >Sudadera negra </h6>
            <h5 >$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 >Sudadera negra </h6>
            <h5 >$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 " >
        <div class="card" style="width: 18rem;">
          <div class="card-body text-center" style="margin-top: 150px; margin-bottom: 150px;">
            <button type="button"  >Ver más <i class="fas fa-arrow-right"> </i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
</body>
