.container.col-md-6 {
  text-align: justify;
  align-items: center;
  margin-top: 200px;
};

 .container.row.col-md-6 text h3 {
  font-size: 18px;
   color:  #1abc9c;
   font-weight: bold;
   text-align: center;
   font-weight: bold;

};

.container.row.col-md-6.img{
position: fixed;

}
