<div class="content-container">
    <div class="home-header">
        <h2 class="home-header-user">Bienvenido USUARIO</h2>

        <P>En esta seccion el Administrador podra añadir, editar, y eliminar todos tus accesorios</P>

    </div>
    <div class="add-product ">
        <h2 class="title-forms">Añadir nuevo producto a ACCESORIOS</h2>
        <form action="">
            <div class="product-forms">
                <div class="form-left">
                    <input type="text" placeholder="Nombre del producto">
                    <textarea placeholder="Escribe una descripcion"></textarea>
                </div>
                <div class="form-right">
                    <input type="text" placeholder="Talla">
                    <input type="number" placeholder="Precio">
                    <input type="file" id="file" accept="image/*">
                    <div class="image-form-cotainer">
                        <label for="file">Añadir img</label>
                        <img class="img-form" src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg"
                            alt="">
                    </div>
                    <button>Añadir producto</button>
                </div>
            </div>
        </form>
    </div>
    <div class="product-lists">
        <h2 class="table-title">Productos Actuales de ACCESORIOS</h2>
        <table>
            <tr class="table-header">
                <th class="table-img">IMG</th>
                <th class="table-nombre">Nombre</th>
                <th class="table-precio">Precio</th>
                <th class="table-talla">Talla</th>
                <th class="table-descripcion">Descripcion</th>
                <th class="table-edit">Editar</th>
                <th class="table-delete">Eliminar</th>
            </tr>
            <tr class="table-product">
                <td class="table-img"><img src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg" alt=""></td>
                <td class="table-nombre">Camisa negra</td>
                <td class="table-precio">$150</td>
                <td class="table-talla">M</td>
                <td class="table-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing el...</td>
                <td class="table-edit"><i class="fas fa-edit"></i></td>
                <td class="table-delete"><i class="fas fa-trash"></i></td>
            </tr>
            <tr class="table-product">
                <td class="table-img"><img src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg" alt=""></td>
                <td class="table-nombre">Camisa negra</td>
                <td class="table-precio">$150</td>
                <td class="table-talla">M</td>
                <td class="table-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing el...</td>
                <td class="table-edit"><i class="fas fa-edit"></i></td>
                <td class="table-delete"><i class="fas fa-trash"></i></td>
            </tr>
            <tr class="table-product">
                <td class="table-img"><img src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg" alt=""></td>
                <td class="table-nombre">Camisa negra</td>
                <td class="table-precio">$150</td>
                <td class="table-talla">M</td>
                <td class="table-descripcion">Lorem ipsum dolor sit amet consectetur adipisicing el...</td>
                <td class="table-edit"><i class="fas fa-edit"></i></td>
                <td class="table-delete"><i class="fas fa-trash"></i></td>
            </tr>
        </table>
    </div>
</div>