<div class="container">
  <div class="row product-content">
    <div class="col-sm-12 col-md-6 product-image">
      <div class="row">
        <div class="col-3">
          <div class="column">
            <img src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg" alt="Nature" class="product-single-img"
              (click)="this.myFunction($event.target);">
          </div>
          <div class="column">
            <img src="../../../assets/products-images/photo-1610901191701-150bd35fc422.jpg" alt="Snow" class="product-single-img"
              (click)="this.myFunction($event.target);">
          </div>
          <div class="column">
            <img src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg" alt="Mountains" class="product-single-img"
              (click)="this.myFunction($event.target)">
          </div>
        </div>
        <div class="col-9 product-expand-container-img">
          <img id="expandedImg" class="product-expand-img">
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 product-info">
      <h1 class="product-info-title">Camisa blanca UTT</h1>
      <h2 class="product-info-subTitles">Descripción</h2>
      <p class="product-info-description">Lorem ipsum dolor sit amet consectetur adipiscing elit, tortor sed diam euismod eu dui, lectus tempor urna
        dapibus venenatis placerat.</p>
      <h2 class="product-info-subTitles">Tallas</h2>
      <div class="product-list-buttons">
        <button class="product-btn btn">CH</button>
        <button class="product-btn product-btn-active btn">M</button>
        <button class="product-btn btn">G</button>
      </div>
      <div class="form">
        <h2 class="product-info-subTitles">Precio: <span class="title">$180</span></h2>
        <h2 class="product-info-subTitles">Cantidad: <span>
          <select class="form-select">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </span></h2>
        
        <button class="btn product-btn-form product-btn-buy">Comprar</button>
        <button class="btn product-btn-form product-btn-add">Añadir <i class="fas fa-shopping-bag"></i></button>
      </div>

    </div>
  </div>