.product-content{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    height: auto;
}

.product-image{
    height: 400px;
}

.product-single-img{
    background-color: var(--primary);
    width: 75px;
    height: 75px;
    margin: 0px auto 10px;
    display: block;
    object-position: center;
    object-fit: contain;
}
.product-expand-img{
    background: var(--primary);
    margin: 0px auto 0px;
    width: 100%;
    height: 400px;
    display: block;
    object-position: center;
    object-fit: contain;
}

/* product info*/

.product-info{
    padding-left: 45px;
}
.product-info-title{
    margin-top: 15px;
    font-size: 35px;
}

.product-info-subTitles{
    font-size: 18px;
}

.product-info-description{
    margin-right: 110px;
    font-size: 15px;
    font-family: 'Poppins-light';
}

.product-btn{
    color: var(--secondary);
    width: 80px;
    padding: 0px;
    border-radius: 25px;
    margin: 5px 5px 15px 5px;
    border: .5px solid #707070;
}

.product-btn-active{
    background: var(--secondary);
    color: #ffffff;
}


.form{
    align-content: center;
}
.form-select{
    font-family: 'Poppins';
    width: 5rem;
    display: inline;
    color: var(--primary);
}

.product-btn-buy, .product-btn-add{
    border: 2px solid var(--secondary);
    margin: 10px;
    font-family: 'Poppins', medium;
    font-size: 15px;
}
