
  <div class="container">
    <h4 class="text-center" style="color: #1a5276;">ROPA</h4>
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/ropa/sudaderanegra.png" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 18px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
      <div class="col-md-4">
        <img src="./assets/ropa/china.jpg" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 20px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
      <div class="col-md-4">
        <img src="./assets/ropa/playeranegra.jpg" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 18px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/ropa/jordan.jpg" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 18px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
      <div class="col-md-4">
        <img src="./assets/ropa/king.jpg" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 18px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
      <div class="col-md-4">
        <img src="./assets/ropa/playeranegra.jpg" class="img-fluid" alt="..." max-width="rounded float-end">
        <h6 style="font-weight: bold; font-size: 18px; text-align: center;">Sudadera negra </h6>
        <h6 style="font-size: 18px; color:  #28b463; font-weight: bold; text-align: center;">$200.00</h6>
      </div>
    </div><br><br>
    <nav aria-label="navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
<br><br>
