<body>
  <div class="containerone" style="height: 150px;">

  </div>
  <div class="container-clothes">
    <h2 class="cont-text">ROPA</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of imgs | paginate: { itemsPerPage: 9, currentPage: pageActual }">
        <div class="info-clothes">
          <div class="info-img">
            <img src="../../../assets/ropa/sudaderanegra.png">
          </div>
          <div class="info-text">
            <h6>Sudadera negra </h6>
            <span>$400.00</span>
          </div>
        </div>
      </div>
    </div>
      <pagination-controls (pageChange)="pageActual = $event" class="pagination"></pagination-controls>
  </div>
</body>
