<body>
  <div class="containerone" style="height: 150px;">

  </div>
  <div class="accesories">
    <h4>ACCESORIOS</h4><br><br>
    <div class="row mt-3">
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/libreta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/usb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="/assets/accesorios/taza.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>Sudadera negra </h6>
            <h5>$200.00</h5>
          </div>
        </div>
      </div>
    </div><br><br>
    <nav aria-label="navigation ">
      <ul class="pagination ">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body><br><br><br><br>
