<body>
  <div class="containerone" style="height: 150px;">

  </div>
  <div class="container-accesories">
    <h2 class="cont-text">ACCESORIOS</h2>
    <div class="row">
      <div class="col-md-4 " *ngFor="let item of imgs | paginate: { itemsPerPage: 9, currentPage: pageActual }">
        <div class="info-accesories">
          <div class="info-img">
            <img src="{{item.img}}">
          </div>
          <div class="info-text">
            <h6>Libreta </h6>
            <span>$30.00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pagintion-controls">
     <pagination-controls (pageChange)="pageActual = $event" class="pagination"></pagination-controls>
    </div>
    </div>
</body>
