.cont-text {
  color: var(--secondary);
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 50px;
}
.container-accesories h4 {
  color: var(--secondary);
  font-size: 50px;
  font-weight: bold;
}

.info-accesories{
  margin-bottom: 15px;
}

.info-img img {
  height: 300px;
  width: 100%;
  object-position: center;
  object-fit: contain;
}

.info-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-text span {
  color: var(--primary);
  font-weight: light;
}

.pagination /deep/ .ngx-pagination{
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  margin-left: 500px;
  box-shadow: 0px 0px 5px 1px gray;
  font-size: 28px;
  color: var(--secondary);
}

.pagination /deep/ .ngx-pagination .current {
background-color: white;
color: var(--primary);
}

.pagination /deep/ .ngx-pagination button:hover{
  color: var(--primary);
}






