.accesories h4{
  color: #1D576B;
  font-size: 100px;
  font-family: 'Poppins-light';
}
.accesories h4 {
  text-align: center;
  color: #1D576B;
  font-size: 30px;
}

.accesories h6 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.accesories h5 {
  font-size: 18px;
  color: #28b463;
  font-weight: bold;
  text-align: center;
}

.col-md-3{
  margin-bottom: 15px;
}

.accesories nav{
  text-align: center;
  position: absolute;
  right: 600px

}
