<div class="content-container">
    <div class="home-header">
        <h2 class="home-header-user">Bienvenido USUARIO</h2>

        <P>En esta seccion el Administrador podra añadir, editar, y eliminar sliders,
            que se reflejan en la parte inicial de la página</P>

    </div>
    <div class="slider-forms">
        <div class="add-slider">
            <h2 class="title-forms">Añadir nuevo slider</h2>
            <form action="">
                <textarea placeholder="Escribe una descripcion"></textarea>
                <input type="file" id="file" accept="image/*">
                <div class="image-form-cotainer">
                    <label for="file">Añadir img</label>
                    <img class="img-form" src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg"
                        alt="">
                </div>
                <button>Guardar</button>
            </form>
        </div>
        <div class="current-slider">
            <h2 class="title-forms">Slider Actual</h2>
            <form action="">
                <textarea placeholder="">Aqui va el texto del slider Actual</textarea>
                <div class="image-form-cotainer">
                    <input type="file" id="file" accept="image/*">
                    <label for="file">Cambiar img</label>
                    <img class="img-form" src="../../../assets/products-images/photo-1610901119319-f7cc8281869c.jpg"
                        alt="">
                </div>
                <button>Guardar</button>
                <button class="btn-delete">Eliminar</button>
            </form>
        </div>
    </div>
</div>