<div class="content-container">
    <div class="header">
        <h2 class="home-header-user">Bienvenido USUARIO</h2>
        <p>En esta seccion el Administrador podra verificar los pedidos recibidos por el usuario</p>
    </div>

    <div class="orders-content">
        <table>
            <tr class="table-header">
                <th class="table-noPedido">No. Pedido</th>
                <th class="table-nombre">Nombre del usuario</th>
                <th class="table-direccion">Direccion</th>
                <th class="table-telefono">Telefono</th>
                <th class="table-productos">Productos</th>
                <th class="table-total">Total</th>
            </tr>
            <tr class="table-product">
                <td class="table-noPedido">1</td>
                <td class="table-nombre">Chivo Dios</td>
                <td class="table-direccion">Calle del olimpo #777 Col. Los dioses</td>
                <td class="table-telefono">2381234567</td>
                <td class="table-productos">Camisa negra, gorra roja</td>
                <td class="table-total">$150000</td>
            </tr>
            <tr class="table-product">
                <td class="table-noPedido">2</td>
                <td class="table-nombre">Chivo Dios</td>
                <td class="table-direccion">Calle del olimpo #777 Col. Los dioses</td>
                <td class="table-telefono">2381234567</td>
                <td class="table-productos">Camisa negra, gorra roja Camisa negra, gorra roja Camisa negra, gorra roja</td>
                <td class="table-total">$1500</td>
            </tr>
            <tr class="table-product">
                <td class="table-noPedido">3</td>
                <td class="table-nombre">Chivo Dios</td>
                <td class="table-direccion">Calle del olimpo #777 Col. Los dioses</td>
                <td class="table-telefono">2381234567</td>
                <td class="table-productos">Camisa negra, gorra roja</td>
                <td class="table-total">$1500</td>
            </tr>
        </table>
    </div>
</div>

