<div class="container-login">
  <div class="login-container-img">
    <img class="login-img" src="../../../assets/login_register/ilustracion_1.png">
  </div>
  <div class="login-container-content">
    <img class="login-img-logo" src="../../../assets/principal_Logo.png">
    <h1 class="login-title">Crear Cuenta</h1>
    <button class="login-btn-google"><img class="login-google-logo" src="../../../assets/login_register/search.png">Sign
      up with Google</button>
    <hr class="hr-text" data-content="Or">
    <form [formGroup]="form" (ngSubmit)="register($event)">
      <div>
        <label for="user">Nombre de usuario</label>
        <input class="login-form-input" id="user" type="text" />
      </div>
      <div>
        <label for="email">Correo</label>
        <input class="login-form-input" id="email" type="email" formControlName="email" />
      </div>
      <div>
        <label for="psw">Contraseña</label>
        <input class="login-form-input" id="psw" type="password" formControlName="password">
      </div>
      <button class="login-btn-continuar" type="submit" >Continuar</button>
    </form>
    <p class="login-a-register">Ya tienes una cuenta? <span><a routerLink="/login">Inicia Sesión</a></span></p>
  </div>
</div>
