
.container-content{
  height: auto;


  }

  .direction-container{
    height: 450px;
    background-color: white;
    margin: 4px;
    margin-top: 15px;
    padding-left: 80px;

  }
  .container-titleo{
    position: relative;
    left: 1em;
    top: 0.4em;
  }
  .container-title{
  position: relative;
  left: 1em;
  top: 0.4em;
  }
  .direction-title{
    position: relative;
    top: 5em;
  }

  .newDirection-container h4{
    margin-top: 20px;
  }

  .direction-container h4{
    text-align: center;
  }
  .direction-container h6{
   margin-top: 10px;

  }

  .card{
    width: 18rem;
    margin-top: 150px;
  }
  .new-direction{
    margin-top: 20px;
    text-decoration: none;
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: var(--primary);
    border-radius: 15px;
    border: 3px ;
    width: 215px;
    height: 30px;
    margin-left: 48px
  }

  .newDirection-container{
    height: 900px;
    background-color: white;
    margin: 4px;
    margin-top: 15px;
    padding-left: 80px;
  }

  .newDirection-container h4{
    text-align: center;
    opacity: 0.3;
    margin-top: 10px;
  }

  .directionTwo-container{
  opacity: 0.4;
  }

  .form-container{
    background-color: white;
    position: absolute;
    left: 15%;
    top: 108%;
    width: 420px;
    height: auto;
    padding-left: 15px ;
    padding-right: 25px ;
    border-radius: 8px;
    border: 10px ;
    -webkit-box-shadow: 0px 3px 16px -2px #000000;
    box-shadow: 0px 3px 16px -2px #000000;

  }

  .forms-body{
    margin-top: 20px;
  }
  .form-title{
    margin: 20px;
    text-align: center;
  }


  .card-title span {
    color: #07AD8B;
  }
  .save {
    margin-top: 20px;
    text-decoration: none;
    padding: 3px;
    font-size: 14px;
    color: white;
    background-color: var(--primary);
    border-radius: 15px;
    border: 3px ;
    width: 215px;
    height: 30px;
    margin-left: 80px;
    margin-bottom: 20px
  }
  form  {
    padding: 10px
  }

