<body>
  <div class="header">
  </div>
  <div class="container-content">
    <h6 class="container-titleo">Web 1920-2</h6>
    <div class="direction-container">
      <h4 class="direction-title">Direcciones de envio</h4>
      <div class="card">
        <div class="card-body">
          <span class="card_nombre">Karen Michel Sixto Lázaro</span>
          <span class="card_telefono">Telefono: 6465654894</span><br><br>
          <p> Carmen Serdan s/n Col. Guadalupe, San Pablo Tepetzingo, 75859, Tehuacan, Puebla, México</p><br><br>
          <span class="card_referencia">Karen Michel Sixto Lázaro</span>

        </div>
      </div>
      <button type="button" class="new-direction">Agregar nueva dirección</button>
    </div>
    <h6 class="container-title">Web 1920-3</h6>
    <div class="newDirection-container">
      <h4 class="direction-title">Direcciones de envio</h4>
      <div class="directionTwo-container">
        <div class="card ">
          <div class="card-body">
            <span class="span1">Karen Michel Sixto Lázaro</span><br>
            <span class="span2">Telefono: 6465654894</span><br><br>
            <p class="card-text">Carmen Serdan s/n Col.Guadalupe, San PabloTepetzingo, 758559, Tehuacán, Puebla, México
            </p><br>
            <span class="span3">Referencia: Casa verde de 2 pisos</span>
          </div>
        </div>
        <button type="button" class="new-direction">Agregar nueva dirección</button>
      </div>
      <div class="form-container">
        <h5 class="form-title">Agregar nueva dirección </h5>
        <div class="forms-body">

          <form action="">
            <div class="form-content">
              Nombre destinatario<input type="text"><br>
              Apellido destinatario<input type="text"><br>
              Telefono celular<input type="text" class="smalld">
              <label for="rgenero">Genero:</label>
              <input type="checkbox" name="genero" value="M" placeholder="M" checked class="input_small">
              <input type="checkbox" name="genero" value="F" placeholder="F" class="input_small"><br>
              Calle<input type="text"><br>
              Número Ext:<input type="text" class="smallr">Int:<input type="text" class="smallTwo"><br>
              Referencia<input type="text"><br>
              Colonia<input type="text"><br>
              Codigo postal <span><input type="text" class="smallTwob"></span><br>
              Ciudad<input type="text"><br>
              <button type="button" class="save"> Guardar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>
