.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
}

.spinner{
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
    position: relative;
}

h2{
    position: relative;
}

@keyframes spin{
    100%{
        width: 150px;
        height: 150px;
        transform: rotate(360deg);
    }
}