<br> <br><br><br><br>


<div class="row">
  <div class="col-sm-6"  *ngFor="let a of fire.pedidos">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Fecha de pedido: {{a.id | date}}</h5>
        <p class="card-text">Domicilio: {{a.data.envio[0].calle}} ,{{a.data.envio[0].numeroE}},
           {{a.data.envio[0].colonia}} , {{a.data.envio[0].ciudad}}</p>
           <p class="card-text">Referencia:{{a.data.envio[0].referencia}}</p>
           <h3>Total: ${{a.data.total}}
          </h3>
        <a (click)="mandar(a.id)" class="btn btn-primary">Ver pedido</a>
      </div>
    </div>
  </div>

</div>
